################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DAS_SYK_MAREK_SLAVKA/v15
/.vs/
